.heading {
    font-family: "space grotesk", sans-serif;
    font-size: 10vh; /* 10% of the viewport height */
    padding: 15vh 0; /* 15% of the viewport height for top and bottom */
    margin-top: 6vh; /* 6% of the viewport height */
}

.heading h1 {
    font-weight: 700;
}

.heading p {
    margin-top: -15vh; /* Negative 15% of the viewport height */
    font-weight: 300;
}

body {
    margin-left:10vw;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
